<div class="search_bar">
    <div class="container">
        <form action="/search" class="search_form" role="search" method="post">
             <input type="search" aria-label="Search" id="search_input" name="search_item" placeholder="Search the site..."/>

        </form>
        <div id="searchClose">Close</div> 
    </div>
</div>